@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* navigation-part css */
.nav-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.manu-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.manu-bar li {
    margin-right: 35px;
}

.band-name {
    font-size: 2rem;
    font-weight: bold;
}

.contact-button>button {
    padding: 10px 60px;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.home {
    color: rgba(254, 163, 1, 1);
}

.about {
    color: rgba(1, 172, 253, 1);
}

.facilities {
    color: rgba(5, 212, 223, 1);
}

.admission {
    color: rgba(93, 88, 239, 1);
}

.hamburger {
    display: none;
}

/* Hero part css */
#hero-section {
    margin-bottom: 25px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 140px 0px 140px;
}

.hero-text {
    max-width: 640px;
}

.hero-text h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.hero-text p {
    font-size: 1.25rem;
}

.hero-image {
    max-width: 468px;
}
.hero-button button{
    margin-top: 24px;
padding: 10px 47px;
background-color:black;
color: white;
font-size: 1.25rem;
font-weight: bold;
border: none;
border-radius: 10px;

}
/* main part css stsrt */
#main-part{
    background-image: url(./assets/bg.png);
}
.heading{
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 2.35rem;
    font-weight: bold;
}
.card-container{
    display: flex;
    margin: 0 auto;
    gap: 28px;
    align-items: center;
    justify-content: space-around;
    max-width: 1160px;
}

/* container 1 css */
.container1{
    
    text-align: center;
    align-items: center;
    max-width: 367px;
    height: 476px;
    border-radius:10px;
    border: 1px solid lightgray;
   
    background: linear-gradient(#DEF5FF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF);
}
.container1 img{
    padding-top: 52px;
    padding-bottom: 32px;
}
.container1 h2{
    padding-bottom: 32px;
}
.container1 p{
    padding-bottom: 35px;
}
.container1 a{
    font-weight: bold;
}

/* container 1 css */
.container2{
    
    text-align: center;
    align-items: center;
    max-width: 367px;
    height: 476px;
    border-radius:10px;
    border: 1px solid lightgray;
   
    background: linear-gradient(#FFF4DC,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF);
}
.container2 img{
    padding-top: 52px;
    padding-bottom: 32px;
}
.container2 h2{
    padding-bottom: 32px;
}
.container2 p{
    padding-bottom: 35px;
}
.container2 a{
    font-weight: bold;
}
/* Containeer 3 css */
.container3{
    
    text-align: center;
    align-items: center;
    max-width: 367px;
    height: 476px;
    border-radius:10px;
    border: 1px solid lightgray;
   
    background: linear-gradient(#F2E8FF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF);
}
.container3 img{
    padding-top: 52px;
    padding-bottom: 32px;
}
.container3 h2{
    padding-bottom: 32px;
}
.container3 p{
    padding-bottom: 35px;
}
.container3 a{
    font-weight: bold;
}


/* slider part css */
#slider-icon{
   margin-top: 80px;
   margin-bottom: 80px;
}
.slider{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.slider1{
    padding: 15px 20px;
    background-color: #FEA301;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 50%;
}
.slider2{
    padding: 15px 20px;
    background-color: #FEA301;
    font-size: 25px;
    color: white;
    border: none;
    border-radius: 50%;
}

/* Our stories section css */
#our-stories{
    background-image: url(./assets/bg.png);
    background: linear-gradient(#FFFFFF,#FEA);
    padding-bottom: 80px;
}
.story-heading h2{
font-size: 2.7rem;
font-weight: bold;
text-align: center;
margin-bottom: 80px;
}
.story-container{
    display:flex;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
}
.story1{
    max-width: 540px;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.story2{
    background-color: white;
    padding-bottom: 27px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.story2 h3{
    font-size: 1rem;
    font-weight: bold;
    padding-left: 35px;
}
.story1 h3{
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 462px;
    margin-top: 25px;
    margin-bottom: 30px;
    padding-left:38px ;
    
}
.story1 p{
    padding-left:38px ;
    margin-bottom: 20px;
}
.sub-story-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    max-width: 600px;
}
.story-image img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.story1>.story-date> p{
    padding: 10px 15px;
    max-width: 174px;
    background-color: #3CD8E8;
    color: white;
    border: none;
    text-align: center;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px ;
    position: relative;
    left: 35px;
     bottom: 30px;
}
.story2>.story-date1> p{
    padding: 10px 15px;
    max-width: 174px;
    background-color: #95B226;
    color: white;
    border: none;
    text-align: center;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px ;
    position: relative;
    left: 33px;
     bottom: 30px;
}
.story2>.story-date2> p{
    padding: 10px 15px;
    max-width: 174px;
    background-color: #5D58F0;
    color: white;
    border: none;
    text-align: center;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px ;
    position: relative;
    left: 33px;
     bottom: 30px;
}
.story2>.story-date3> p{
    padding: 10px 15px;
    max-width: 174px;
    background-color: #95B226;
    color: white;
    border: none;
    text-align: center;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px ;
    position: relative;
    left: 33px;
     bottom: 30px;
}
.story2>.story-date4> p{
    padding: 10px 15px;
    max-width: 174px;
    background-color: #95B226;
    color: white;
    border: none;
    text-align: center;
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px ;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px ;
    position: relative;
    left: 33px;
    bottom: 30px;
}
.view-all{
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.view-all button{
padding: 10px 60px;
font-size: 1.25rem;
font-weight: bold;
background-color: black;
color: white;
margin:0 auto;
border-radius:20px;
text-align: center;
}
/* Footer part CSS */
.footer {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding:80px 7%;
    background-color: #01ACFD;
    color: #fff;
    flex-wrap: wrap;
  }
  
  .foot-container {
    flex: 1;
    margin: 10px;
    max-width: 370px;
    text-align: left;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
  }
  
  .logo-text {
    font-size:  2.6rem;
    font-weight: bold;
  }
  
  .foot-container h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .foot-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .foot-container ul li {
    margin-bottom: 8px;
  }
  
  .foot-container ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .icons a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
  }

/* responsive part css */
@media screen and (max-width:576px) {

    .manu-bar,
    .contact-button,
    .brand-name {
        display: none;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        margin-top: 0px;
        border-bottom: 2px solid rgba(254, 163, 1, 1);
        ;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        align-items: center;
    }

    /* hero part responsive */
    .hero-container {
        padding-top: 20px;
        display: flex;
        margin: 0 auto;
        flex-direction: column-reverse;
    }

    .hero-text {
        text-align: center;
        max-width: 357px;
    }

    .hero-text h1 {
        padding-top: 20px;
        font-size: 2rem;
        font-weight: bold;
    }

    .hero-text p {
        padding-top: 20px;
        font-size: 1.25rem;
    }

    .hero-image img {
        max-width: 335px;

    }
    .hero-button button{
        padding: 6px 24px;
        margin-top: 30px;
    }
    /* card container css */
    .heading{
        font-size: 1.4rem;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .container1{
        max-width: 357px;
    }
    .container2{
        max-width: 357px;
    }
    .container3{
        max-width: 357px;
    }
    /* slider icon part css */
    #slider-icon{
        display: none;
    }
    /* Our story part */
    .story1{
        display: none;
    }
    .story-heading h2{
        font-size: 1.5rem;
    }
    .sub-story-container{
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
        max-width: 358px;
    }
    .sub-story-container img{
        max-width: 170px;
    }
    .story2>.story-date1> p{
        font-size: 0.56rem;
        padding: 5px 11px;
        max-width: 103px;
        background-color: #95B226;
        color: white;
        border: none;
        text-align: center;
        border-top-left-radius: 25px ;
        border-top-right-radius: 25px ;
        border-bottom-right-radius: 25px ;
        border-bottom-left-radius: 25px ;
        position: relative;
        left: 22px;
         bottom: 18px;
    }
    .story2>.story-date2> p{
        font-size: 0.56rem;
        padding: 5px 11px;
        max-width: 103px;
        background-color: #5D58F0;
        color: white;
        border: none;
        text-align: center;
        border-top-left-radius: 25px ;
        border-top-right-radius: 25px ;
        border-bottom-right-radius: 25px ;
        border-bottom-left-radius: 25px ;
        position: relative;
        left: 22px;
         bottom: 18px;
    }
    .story2>.story-date3> p{
        font-size: 0.56rem;
        padding: 5px 11px;
        max-width: 103px;
        background-color: #95B226;
        color: white;
        border: none;
        text-align: center;
        border-top-left-radius: 25px ;
        border-top-right-radius: 25px ;
        border-bottom-right-radius: 25px ;
        border-bottom-left-radius: 25px ;
        position: relative;
        left: 22px;
         bottom: 18px;
    }
    .story2>.story-date4> p{
        font-size: 0.56rem;
        padding: 5px 11px;
        max-width: 103px;
        background-color: #95B226;
        color: white;
        border: none;
        text-align: center;
        border-top-left-radius: 25px ;
        border-top-right-radius: 25px ;
        border-bottom-right-radius: 25px ;
        border-bottom-left-radius: 25px ;
        position: relative;
        left: 22px;
         bottom: 18px;
    }
    .story-container{
        max-width: 358px;
    }
    .sub-story-container h3{
        font-size: 0.6rem;
    }
    .view-all{
        margin-top: 40px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    .view-all button{
    padding: 10px 30px;
    font-size: 1rem;
    }
    /* Footerpart */
    .footer {
        flex-direction: column;
        align-items: flex-start; /* Align columns to the left on small devices */
        text-align: left;
      }
      .logo-text {
        font-size:  2.18rem;
        font-weight: bold;
      }
      
      .foot-container {
        margin-bottom: 20px;
      }
    
      .icons a {
        margin-right: 5px;
      }
}